extends base

block content 
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Check your email!
      p.textadd Don't see the email? Click the button below to resend.
      form.form.form-resend
        .form__group
          button.btn.btn--green Resend Email